{%extends 'base/layout.html'%}
{%block title%}New Blog{%endblock%}

{%block content%}


<div class="container" style="border: white 2px solid; margin-top: 40px;">
<h1 style="color: white; font-size: 70px; margin-bottom: 0; margin-top: 50px; text-align: center; text-decoration: underline;">ADD NEW BLOG</h1>
<div class="container" style="margin-top: 20px; padding-top: 0;">
    <form method="POST" action="{%url 'submit_page'%}">
        {%csrf_token%}
        <div class="form-group">
          <label for="name"><span id="name_field" style="color: white; font-size: 30px;">Name</span></label>
          <input type="text" class="form-control " id="name" name="name" value={{request.user}} placeholder={{request.user}} readonly>
        </div>
        <div class="form-group">
            <label for="email"><span id="email_field"style="color: white; font-size: 30px;">Email</span></label>
            <input type="email" class="form-control" id="email" name="email" placeholder={{request.user.email}} value={{request.user.email}} readonly>
        </div>
        <div class="form-group">
            <label for="subject"><span id="suject_field"style="color: white; font-size: 30px;">Subject</span></label>
            <input type="text" class="form-control" id="subject" name="subject">
        </div>
        <div class="form-group">
          <label for="msg"style="color: white; font-size: 30px;">Blog Content</label>
          <textarea class="form-control" id="msg" name="msg"  rows="3"></textarea>
        </div>
        <button class="btn btn-info mb-3" type="submit">Submit</button>
      </form>
</div>
</div>

{%endblock%}

