{%extends 'base/layout.html'%}
{%block title%}Blog{%endblock%}

{%block content%}
    <div class="container">
        <h2 style="color: white; text-align: center; font-size: 80px; margin-bottom: 90px; margin-top: 50px;">BLOG</h2>
        
    
    {%for b in blogs%}
    
    <div class="row mb-5 shadow-lg " style="background: white; border-radius: 1.2rem;">
      
            <div class="col-4">
                <h3 style="color:#595959; text-transform: uppercase; font-size: 40px; padding: 20px; font-weight: bold; text-decoration: underline;">  {{b.subject}}</h3>
                <h5 class="text-secondary ml-4">{{b.date}}</h5>
                <button class="btn btn-dark ml-4 mb-3 mr-5 btn-lg mb-0 mt-2"><a href="{%url 'show_detail'  k=b.id%}" style="color: white;">Read More </a></button>
                

            </div>
            <div class="col-7 mt-4 border border-dark rounded mb-4 pt-4" style="margin-right: 1px;">
                {{b.content| truncatewords:60}}
            </div>
    </div>
    {%endfor%}

    </div>
{%endblock%}
