{%extends 'base/layout.html'%}
{%block title%}Blog Detail{%endblock%}

{%block content%}
<div class="container jumbotron pt-3" style="margin-top: 100px; font-size: 50px; margin-bottom: 0; height: 200px; text-transform: uppercase;">
    {{blog.subject}}
    <div class="container mt-4 text-secondary" style="letter-spacing: 0px; ">
        <h5>{{blog.name}}</h5>
        <h5>{{blog.email}}</h5>
    </div>
  
</div>
<div class="container jumbotron bg-dark" style="margin-top: 40px; font-size: 30px; color: white; height:50%;">
    
    {{blog.content}}
    
</div>

<div style="margin-left: 18%;">
    
    
    <h2><a href="{%url 'delete_page' z=blog.id%}" class="text-right ml-5" style="text-align: right;"><button class="btn btn-danger btn-lg ">Delete</button><i class="fas fa-trash-alt ml-4 mt-1" style=" font-size: 40px; color: rgb(212, 57, 57); "></i></a></h2>

</div>




{%endblock%}